.rule {
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: "name relationship-header" "info relationships";
    margin-bottom: 10px;
}

.rule-list {
    padding-top: 10px;
}

.rule-name {
    grid-area: name;
}

.rule-info {
    grid-area: info;
}

.rule-relationship-header {
    grid-area: relationship-header;
}

.rule-relationships {
    grid-area: relationships;
    overflow-y: auto;
}

.rule-relationship, .rule-edit-relationship {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 32px;
}

.rule-edit-relationship {
    grid-template-columns: 150px 32px 1fr 20px;
    grid-template-areas: "relationship-type image entity-name edit";
}

.rule-relationship {
    grid-template-columns: 150px 32px 1fr;
    grid-template-areas: "relationship-type image entity-name ";
}

.rule-relationship-image {
    grid-area: image;
}

.rule-relationship-type {
    grid-area: relationship-type;
}

.rule-relationship-entity-name {
    grid-area: entity-name;
    overflow-y: hidden;
}

.rule-relationship-entity-name, .rule-relationship-type,.rule-relationship-edit {
    line-height: 32px;
}

.rule-relationship-edit {
    grid-area:edit
}

.role-item, .corporation-title-result {
    padding: 5px;
    height: 32px;
    position: relative;
    border-radius: 3px;
    line-height: 32px;
}

.esi-role {
    display: grid;
}

    .esi-role div {
        grid-area: name;
        line-height: 32px;
    }

    .entitySearchResult:hover, .role-item:hover, .corporation-title-result:hover {
        background-color: var(--theme-secondary-back-colour);
    }
    .entitySearchResult:after, .role-item:after, .corporation-title-result:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f067';
        position: absolute;
        right: 5px;
        top: 0px;
        line-height: 42px;
    }
#entitySearchResults{
    width:100%;
    height:calc(100% - 30px);
}

#entityForm {
    width: 100%;
    height: calc(100% - 30px);
}
#relationshipDialog {
    width: 700px;
    height: 400px;
    
    overflow-y:auto;
    
}
#relationshipTab {
    width:100%;
    height:100%;
}

#entitySearchForm {
    padding:10px;
}

.standing-item{
    display:grid;
    grid-column-gap:5px;
    grid-template-rows: 1fr;
    grid-template-columns: 32px 1fr auto;
    grid-template-areas: "image name buttons";
}
.standing-item .e-btn-group{
    grid-area:buttons;
    font-size:0.5em;
}

.standing-item img{
    grid-area:image;
}

.standing-item .name {
    grid-area: name;
    line-height:32px;
}