@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@page "/Error"


<h1>@Message</h1>

@functions
{
    private string Message { get; set; }

    protected override void OnInit()
    {
        var uri = new Uri(UriHelper.GetAbsoluteUri());
        Message = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("message", out var type) ? type.First() : "";
        StateHasChanged();
    }
}
