@inherits BlazorLayoutComponent
@inject Services.AppState state
<div>
    <div>

    </div>
    <div>
        @Body
    </div>
    <div class="dialog-container @(ShowRegistration?"show":"")">
        <div class="dialog">
            <h3>Login to an existing ESA account</h3>

        </div>

    </div>
</div>

@functions
{
    bool ShowRegistration { get; set; }

    protected override void OnInit()
    {
        state.OnDisplayRegistration += DisplayRegistration;
    }

    private void DisplayRegistration()
    {
        ShowRegistration = true;
        StateHasChanged();
    }
}