
@{
    ViewData["Title"] = "Management";
}

<p>
    <a asp-action="Rules" asp-controller="Management">Rules</a> - Manage the rules that assign people roles.
</p>

<p>
    <a asp-action="Roles" asp-controller="Management">Roles</a> - Manage the permissions and configurations assigned to roles.
</p>


