
@{
    ViewData["Title"] = "Create New Tenant";
}

<h2>Tenant Not Found</h2>

<p>The requested tenant has not been found. Are you sure that you typed the address correctly ? If you did then please click the account button to create a new group to fill this URL.</p>

