
@{
    ViewData["Title"] = "Tenant Not Found";
}

<h2>Tenant Not Found</h2>

<p>You are required to be on a group site to view this page, please either create a new group by clicking the account button or go to an existing group</p>
